@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css 주석 노출 */
*:focus {
  border: 1px solid red;
}

.table th {
  border: 1px solid #000;
  background-color: beige;
}
.table td {
  border: 1px solid #000;
}